/* Brandcolor.net -> Para los colores
    HTMLcolorcodes
    Color Hund
    AdobeColor 
*/
@font-face {
    font-family: 'dtf';
    src: local(GameOnlineDemoRegular), url('resource/GameOnlineDemoRegular.ttf');
}

body{
    background-color: #333;
    /* font-family: sans-serif; */
    font-family: 'Roboto', sans-serif;
    /* font-family: 'dtf'; */
    /* font-weight: 600; */

}
.container{ 
    background-color: hsl(0, 0%, 100%);
    box-shadow: 5px 5px 10px hsl(64, 100%, 68%);
}

.text{
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 4px;
    line-height: 2; 
}

.link{
    text-decoration: none;
    text-shadow: 3px 3px 5px red;
    color:inherit;
}

.container2{
    height: 100px;
    background-color: hsl(0, 0%, 100%);
    width: 200px;
}
.context{
    line-height: 100px;
    text-align: center;
    /* writing-mode: vertical-lr; */
}