body{
    margin: 0;
    background-color: gray;
}
.box{ 
    width: 100px;
    height: 100px;
    text-align: center;
}
.container{
width: 200px;
height: 200px;
background-color: yellow;

}
.box-1{
    background-color: lightcoral;
    position: relative;
    left: 100px;
    bottom: -100px;


}

.box-2{
    background-color: lightgreen;
    position: relative;
    left: 100px;
    bottom: 100px;

    
}

article{
 
border: 3px solid blue;
}

.titarticulo{
    position: sticky;
    top:0px;
    background-color: lightcoral;
    border: 3px solid red;
}

.menu{
    background-color: lightblue;
    /* position: sticky;
    top: 0px; */
}