*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #e8e8e8;
    /* background-color: #333; */
    font-family: sans-serif;
}

.container{
    /* background-color: #333; */
    margin: 20px;
    display: flexbox;
    /* align-items: center; */
    text-align: center;
}


.login{
    /* background-color: red; */
    display: flexbox;
}
.form{
    margin: 20px auto;
    display: flexbox;
    width: 400px;

}
.footer-form .check, .footer-form .text {
    display: inline-block;
    margin: 0px 30px;
}

.footer-form .text{
    color: #02abc6;
}

.field{
    background-color: #fff;
    width: 100%;
    height: 40px;
    margin: 10px 0px;
    border-style: none;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 5px;
}

.field .username:focus, .field .password:focus{
    outline: none;

}

.field .username, .field .password{
    border-style: none;
    height: 100%;
    width: 100%;
    /* background-color: red; */
}

.field .username, .field .password, .field .icon{
    padding-left: 20px;

}

.novisible{
    position: absolute;
    opacity: 0;

}

.photo-perfile{
    width: 60px;
    height: 60px;
    background-color: red;
    border-radius: 30px;
    overflow: hidden;
}

.img-perfile{
    width: 60px;   
}

.icon{
    width: 15px;
}


.link{
    color: inherit;
    text-decoration: none;
}
.button-cuz{
    background-color: #02abc6;
    color:white;
    padding: 10px 30px;
    border-radius: 5px;
    /* margin: 30px; */
}

/* .formlogin{
    background-color: red;
    display: flexbox;
    align-items: centers;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 25%;
} */