body{
    margin:0px;
}
.box{
    width: 100px;
    height: 100px;
    text-align: center;
    color: #333;
}

.box-1{
    background-color: lightcoral;
    position:relative;
    z-index: 1;
}
.box-2{
    background-color: lightgreen;
    margin-top: -50px;
}
.box-3{
    background-color: lightseagreen;
}

.container{

    background-color: mediumslateblue;
    margin-top: -50px;
    position:relative;
    opacity: 0.99;
}

.title{
    margin: 0;
    background-color: #ccc;
    position: relative;
    z-index: 10;
}

.text{
    margin:0;
    margin-top: -10px;
}