*{
    margin: 0px;
    padding: 0px;
}

.inv{
    width: 100%;
}

body{
    font-family: 'IBM Plex Sans', sans-serif;
    color:white;
    background-color:rgb(217, 217, 217);
    ;
}

nav {
    background-color: rgba(255, 0, 0, 0.519);
    padding: 20px;
    text-align: center;
}
nav ul li{
    display: inline-block;
    margin: 0px 40px;
    text-transform: uppercase;
}
.titles{
    margin:10px;
    text-align: center;
    text-transform: uppercase;
    color:black;
}

.card{
    width: 300px;
    background-color: lightcoral;    
    padding: 10px 10px 30px 10px;
    display: inline-block;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.155);
}

.card .image{
    width: 300px;
    border-radius: 10px;
}

.card .head{
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
}

.foot{
    text-align: center;
}

.price{
    font-size: 20px;
    margin: 10px 0 20px 0;
}

.button{
    text-decoration: none;
    background-color: rgb(0, 119, 255);
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    color: white;
}

.logo{
    width: 400px;
    display: inline-block;
    margin:30px
}



/* td{
    border: 1px solid red;
}

tr{
    border: 2px solid rgb(16, 87, 252);
} */

